@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400&display=swap');

:root {
  --clr-white: #c2cbe5;
  --clr-black: #121725;
  --clr-green: #54e6af;
  --clr-light-green: #b3ffe2;
  --clr-light-blue: #5a668a;
  --clr-dark-blue: #2c344b;

  --spacer: 1em;
  --measure: 35ch;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Chivo';
  font-weight: 300;
  background: url('./assets/mobile/image-host.jpg') var(--clr-black);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  color: var(--clr-white);
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}

header {
  padding-top: calc(var(--spacer) * 2);
  display: flex;
  justify-content: center;
}

h1 {
  font-size: clamp(16px, 1.4rem, 2rem);
  font-weight: 300;
  text-transform: uppercase;
  color: var(--clr-green);
  text-align: center;
  line-height: 2.375rem;
  margin-left: calc(var(--spacer) * -3);
  margin-right: calc(var(--spacer) * -3);
  overflow-x: hidden;
}

h1 span {
  color: var(--clr-white);
}

p {
  font-size: 0.8rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 2;
  max-width: var(--measure);
}

.flow > * + * {
  margin-top: var(--spacer);
}
.flow\:large > * + * {
  margin-top: calc(var(--spacer) * 3);
}
.flow\:small > * + * {
  margin-top: calc(var(--spacer) * 0.5);
}

.wrapper {
  padding: calc(var(--spacer) * 2);
}

.social-icons {
  display: flex;
  color: var(--clr-light-blue);
  justify-content: space-between;
  gap: 0.4rem;
  overflow-x: hidden;
}

.social-icons > img {
  max-height: 1.0625rem;
}

input {
  position: relative;
  display: block;
  color: var(--clr-light-blue);
  background-color: var(--clr-dark-blue);
  width: 100%;
  font-family: inherit;
  padding: 1em 1.5em;
  border: 1px inset var(--clr-dark-blue);
  border-radius: 28px;
  outline: none;
}

input[type='submit'] {
  color: var(--clr-dark-blue);
  background-color: var(--clr-green);
  text-align: center;
  box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.497913);
  cursor: pointer;
}

input[type='submit']:hover,
input[type='submit']:active {
  background-color: var(--clr-light-green);
}

input:focus {
  border: 1px inset var(--clr-green);
}

input[type='email']::placeholder {
  color: var(--clr-light-blue);
}

input[type='email'] {
  position: relative;
  color: var(--clr-white);
}

input[type='email']:invalid::after {
  position: absolute;
  font-weight: 400;
  height: 100px;
  width: max-content;
  left: 0;
  top: 2rem;
  content: 'Oops! Please check your email';
  color: #fb3e3e;
  z-index: 5;
}

.bg-pattern {
  visibility: hidden;
}

@media (min-width: 600px) {
  body {
    background-color: var(--clr-black);
    background: url('./assets/tablet/image-host.jpg');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 80% 100%;
  }

  main {
    display: flex;
    flex-direction: column;
    width: 370px;
    margin-right: auto;
  }

  h1 {
    text-align: left;
    margin-left: 0;
    width: max-content;
  }

  .social-icons {
    width: 80%;
    order: 1;
    overflow-x: visible;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    background-color: #121725;
  }

  header {
    background-color: var(--clr-black);
    width: 30%;
    padding-left: calc(var(--spacer) * 2);
    padding-right: calc(var(--spacer) * 2);
    padding-bottom: calc(var(--spacer) * 2);
    margin-bottom: -1px;
  }

  p {
    text-align: left;
    margin-left: 0;
  }

  form {
    display: flex;
    align-items: center;
  }

  input {
    margin-top: 0;
    padding: 1em 1.5em;
    width: max-content;
  }

  input[type='submit'] {
    margin-top: 0;
    margin-left: calc(-3 * var(--spacer));
    width: max-content;
    z-index: 1;
  }

  .bg-pattern {
    background: var(--clr-black);
    visibility: visible;
    margin-top: -1px;
    padding-left: calc(var(--spacer) * 2);
    margin-bottom: calc(var(--spacer) * -1);
    padding-top: var(--spacer);
    min-height: 160px;
  }
}

@media (min-width: 630px) {
  body {
    position: relative;
    background-image: url('./assets/desktop/image-host.jpg');
    background-size: cover;
    background-position-x: 30%;
  }

  .bg-pattern {
    min-height: 160px;
  }

  .bg-pattern > img {
    margin-left: auto;

    margin-top: calc(var(--spacer) * -3);
  }

  .social-icons {
    overflow-x: visible;
  }
}
